::ng-deep .mat-header-row {
  background-image: linear-gradient(to right top, #160a2d, #1f1439, #2a1d45, #352752, #40305f);
}

::ng-deep .mat-table {
  width: 100%;
}

.container {
  height: 100%;
  padding-top: 100px;
  box-sizing: border-box;
}

.mat-elevation-z8 {
  width: 70%;
  padding: auto;
  margin: 0 auto 50px;
}

.table {
  &-container {
    height: fit-content;
    max-height: calc(100vh - 240px);
    overflow: auto;
    box-sizing: border-box;
  }

  &-header {
    &-id, &-date {
      padding: 0 24px !important;
      color: whitesmoke;
    }
  }

  &-cell {
    &-id, &-date {
      padding: 0 24px !important;
      cursor: pointer;
    }
  }
}

.button-container {
  display: flex;
  margin-bottom: 50px;

  ::ng-deep .mat-button {
    border: 1px solid black;
    padding: 10px 50px;
    line-height: 1;
    margin: 0 auto;

    &:hover {
      color: whitesmoke;
      background-image: linear-gradient(to right top, #160a2d, #1f1439, #2a1d45, #352752, #40305f);
    }

    &:disabled {
      border-color: rgba(black, 0.3);

      &:hover {
        background-image: none;
      }
    }
  }
}
