::ng-deep mat-dialog-container {
  width: 100% !important;
  max-width: 500px;
  padding: 40px 60px !important;

  .mat-dialog-title {
    margin-bottom: 30px !important;
  }

  .form-container {
    display: flex;
    flex-direction: column;
  }

  .mat-button {
    border: 1px solid #878787;
    color: #878787;
    padding: 10px 50px;
    line-height: 1;
    margin: 0 auto;

    &:hover {
      color: white;
      background-color: #878787;
    }

    &:disabled {
      border-color: rgba(black, 0.3);
      cursor: not-allowed;
    }
  }
}
