<div class="content">

  <form [formGroup]="userFormGroup" class="signup-form" (ngSubmit)="onSubmit()" autocomplete="off">
    <img class="logo" src="../../assets/logo.jpg" alt="logo">

    <mat-label class="alert-danger" *ngIf="error">
      <label>{{error}}</label>
    </mat-label>

    <mat-form-field [floatLabel]="true">
      <input matInput placeholder="Username or Email" formControlName="username" required>
    </mat-form-field>

    <mat-form-field [floatLabel]="true">
      <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>

    <button mat-button type="submit" [disabled]="userFormGroup.invalid">Login</button>
  </form>

</div>
