.container {
  padding: 100px 60px 100px;

  .info__main {
    font-size: 18px;
    font-weight: bold;

    p {
      margin-bottom: 20px;
    }
  }
}

.cont {
  width: 48%;

  &-full {
    @extend .cont;

    width: 100%;
  }

  .title {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #878787;
  }
}

.swiper-container {
  // height: 100%;
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  // display: flex;
  justify-content: center;
  align-items: center;

  p {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-size: 15px;
    color: #878787;
    background-color: white;

    span {
      width: 48%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: start;
    }
  }
}

.swipers-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

::ng-deep .swiper-pagination-bullet-active {
  background-color: #878787!important;
}

.container-flex {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-absolute {
    @extend .container-flex;
    position: absolute;
    margin-top: 20px;
    z-index: -1;
  }
}
