.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../../../assets/images/background.jpg')
}

.signup-form {
  display: flex;
  max-height: 90%;
  width: 100%;
  max-width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  opacity: 0.9;
  padding: 50px 60px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 222, 0.16), 0 2px 10px 0 rgba(0, 0, 222, 0.12) !important;

  img {
    width: 100%;
    margin-bottom: 40px;
  }

  button {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .alert-danger {
    color: red;
    text-align: center;
    margin-bottom: 10px;
  }
}

.signup-form > * {
  width: 100%;
}

mat-icon {
  cursor: pointer;
}
